services:
  mysql:
    image: mysql:8.0
    container_name: dbids-mysql
    environment:
      MYSQL_ROOT_PASSWORD: root123!
      MYSQL_DATABASE: dbids_target
      MYSQL_USER: admin
      MYSQL_PASSWORD: admin123!
    ports:
      - "3307:3306"
    command: ["--default-authentication-plugin=mysql_native_password","--sql-mode="]
    volumes:
      - mysql_data:/var/lib/mysql
      - ./seed:/docker-entrypoint-initdb.d  


  mailhog:
    image: mailhog/mailhog:latest
    container_name: dbids-mailhog
    ports:
      - "1025:1025"    
      - "8025:8025"    

  wiremock:
    image: wiremock/wiremock:3.6.0
    container_name: dbids-wiremock
    ports:
      - "9090:8080"      
    command:
      [
        "--verbose",
        "--global-response-templating",
        "--disable-gzip"
      ]
    volumes:
      - ./wiremock/mappings:/home/wiremock/mappings
      - ./wiremock/__files:/home/wiremock/__files
    healthcheck:
      test: ["CMD", "wget", "-q", "-O", "-", "http://localhost:8080/__admin/health"]
      interval: 5s
      timeout: 3s
      retries: 10

volumes:
  mysql_data:
